.colorNames {
  position: absolute;
  display: flex;
  width: 100%;
  margin-top: 85px;
  align-items: center;

  .carColorName {
    padding-left: 12px;
    font-size: 13px;
    font-weight: 600;
  }
  .colorNames span {
    font-size: 12px;
  }

  .vhgka {
    margin-left: auto;
    font-size: 13px;
    color: #666666;
  }
}
