.mainRight{
    overflow: auto;
    overflow-x: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 27%;
    right: 1px;
    margin-top: 50px;
    height: 100vh;
    
}
.mainRightItem{
   position: fixed;
   width: 100%;
   margin-left: 60px;
   margin-top: 60px;
}
.itemTop{
    margin-bottom: 10px;
}
.itemTop p{
    font-size: 19px;
    
}
.item{
    margin-bottom:10px;
}
.item a{
    margin-bottom: 20px;
}
.priceBox{
    display: flex;
    width: 335px;
    height: 50px;
    border: 1px solid #e6e6e6;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 10px;
    background-color: white;
}
.itemLink{
    padding-bottom: 10px;
}
.linkColorRight{
    color: gray;
    font-size: 13px;
}

.itemCenter{
    margin-bottom: 10px;
}

.priceBoxName{
    margin-left: 15px;
}
.priceBoxMoney{
    margin-left: auto;
    margin-right: 15px;
}