.paddingBlock {
  padding-left: 10px;

  .colorBorder {
    display: flex;
    position: relative;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    border: none;
    justify-content: center;
  }

  .color {
    position: absolute;
    margin-top: 2px;
    width: 45px;
    height: 45px;
  }
}
.select {
  display: flex;
  border: 3px solid #007fff;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  justify-content: center;
  padding-right: 10px;
}
