.models__first {
  background-image: url("../../../img/ModelS/models_bg_first.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center;

  .models__first__inner {
    height: 87%;
    display: flex;
    flex-direction: column;

    .main-header {
      flex: 1;
    }
  }

  .main-vehicle-info-outer {
    min-width: 100%;
  }

  .main-vehicle-info {
    margin: auto;
    width: 640px;
    height: 84px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;

    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25%;

      &.zero-to-hundred {
        opacity: 0;
        animation: fadeIn 0.3s ease-out forwards;
        animation-delay: 1s;
      }

      &.space {
        opacity: 0;
        animation: fadeIn 0.3s ease-out forwards;
        animation-delay: 1.2s;
      }

      &.fuel-efficiency {
        opacity: 0;
        animation: fadeIn 0.3s ease-out forwards;
        animation-delay: 1.4s;
      }

      &.btn-order-now {
        opacity: 0;
        animation: fadeIn 0.3s ease-out forwards;
        animation-delay: 1.6s;
      }

      &:nth-child(1),
      &:nth-child(2) {
        border-right: 1px solid black;
      }

      p {
        margin: 0;
      }

      &.btn-order-now {
        display: flex;
        flex-direction: column;
        justify-content: center;

        button {
          padding: 10px;
          width: 100%;
          border-radius: 50px;
          border: 3px black solid;
          background: none;

          &:hover {
            cursor: pointer;
            transform: translateY(-1px);
          }

          &:focus {
            outline: 0;
          }

          &:active {
            transform: translateY(0px);
          }
        }
      }
    }

    .top {
      display: flex;
      height: 34px;

      .txt-big {
        font-size: 28px;
      }

      .txt-small {
        font-size: 24px;
      }

      .speedometer {
        display: flex;
        align-items: center;
        margin-right: 5px;

        img {
          height: 20px;
        }
      }
    }

    .bottom {
      font-size: 12px;
      margin-top: 10px;
      color: #5d5e62;
      text-align: center;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
