.mainRightFourth {
  overflow: auto;
  overflow-x: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 27%;
  right: 1px;
  height: 90vh;
}

.selectFourth {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 140vh;
  overflow-y: hidden;
  margin-top: 75px;
}
.miniLine {
  height: 10px;
  padding-left: 10px;
  margin-right: 10px;
}
.lorderFont {
  font-size: 20px;
  margin-left: 20px;
}

.lorderText {
  position: relative;
  width: 75%;
  margin-left: 7%;
  margin-top: 80px;
  p {
    font-size: 13px;
    margin-left: 15px;
  }

  ul {
    width: 100%;
  }
  li {
    padding-bottom: 18px;
    font-size: 14px;
    color: gray;
  }
  .lorderTop {
    position: relative;
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 10px;
}
.optionBox {
  display: flex;
  width: 90%;
  height: 50px;
  border: 1px solid #e6e6e6;
  align-items: center;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-left: 3%;
  background-color: white;
  align-items: center;

  .optionBoxName {
    margin-left: 5px;
    padding-left: 30px;
  }
  .priceBoxMoney {
    margin-left: auto;
    margin-right: 15px;
  }
}

.buttonPadding {
  margin-left: 40px;
  width: 80%;
}

.vhsxmPadding {
  margin-top: 10%;
  color: #666666;
  margin-left: 5%;

  .vhsxm {
    font-size: 13px;
    padding-bottom: 5px;
  }
  .vhsxm2 {
    font-size: 12px;
  }
}

.checkBoxContainer {
  display: flex;
  position: relative;
  margin-left: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-items: center;
}

/* Hide the browser's default checkbox */
.checkBoxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: white;
  color: #2196f3;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

/* When the checkbox is checked, add a blue background */
.checkBoxContainer input:checked ~ .checkmark {
  background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkBoxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkBoxContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #2196f3;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
