.mainRightSecond {
  overflow: auto;
  overflow-x: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 27%;
  right: 1px;
  margin-top: 75px;
  height: 100vh;
  align-items: center;
}

.selectSecond {
  position: absolute;
  width: 335px;
  height: 300px;

  margin-top: 50%;

  .selectList {
    position: absolute;
    width: 100%;
    margin-left: 10px;
    font-size: 20px;
  }
}
.secondSelectTop {
  position: absolute;
  display: flex;
  width: 100%;
  height: 30%;
}

.colors {
  position: absolute;
  display: flex;
  margin-top: 30px;
}

.line {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  margin-top: 40%;
}

.selectBottom {
  position: absolute;
  width: 100%;
  height: 50%;
  margin-top: 46%;
}
