.mainLeft{
    margin-top: 75px;
    position: fixed;
    display: flex;
    width: 74%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    border-right: 1px solid #e6e6e6;
    
    
}


