.mainRightLast {
  overflow-x: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 27%;
  right: 1px;
  height: 100vh;
  margin-top: 75px;
  overflow-y: scroll;

  .carPayment {
    position: relative;
    display: flex;
    width: 90%;
    height: 250vh;
    overflow-y: hidden;
    flex-direction: column;
    border: 3px solid pink;
    margin-left: 25px;

    .carImage {
      position: relative;
      width: 100%;
      border: solid black;
    }
    img {
      position: relative;
      width: 100%;
      height: 200px;
    }

    .carName {
      display: flex;
      justify-content: center;
      font-size: 25px;
      color: #393c41;
    }
    .paymentMiddle {
      position: relative;
      width: 100%;
      height: 40px;
      border-bottom: 1px solid #e6e6e6;
      margin-top: 15px;
      font-size: 18px;
      color: #333333;
    }
    ul {
      padding: 0px;
      position: relative;
      width: 100%;
      border: solid black;
      list-style: none;
    }
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e6e6e6;
  border-radius: 10px;
}
