.mainLeft {
  margin-top: 85px;
  position: fixed;
  display: flex;
  width: 73%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
  border-right: 1px solid #e6e6e6;
  z-index: 100;

  img {
    height: 95vh;
  }
}
