.home__first {
  background-image: url('../../img/main_first.jpg');
  height: 100vh;
  background-size: 100%;
  background-position-y: 55%;
  animation: zoomIn 0.5s ease-out forwards;
  animation-delay: 1s;

  .first__info-wrapper {
    animation: fadeIn 0.5s ease-out forwards;
    animation-delay: 1s;
  }
}

.home__second {
  height: 100vh;
  overflow: hidden;
  position: relative;

  video {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.home__third {
  background-image: url('../../img/main_third.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.home__last {
  background-image: url('../../img/main_last.jpg');
  background-size: cover;
  background-position: center;
  height: 83vh;
}

.home__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17vh;
}

@keyframes zoomIn {
  0% {
    background-position: 51% 55%;
    background-size: 100%;
  }
  100% {
    background-position: 51% 55%;
    background-size: 200%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
