.info__content {
  text-align: center;
  padding-top: 90px;
}

.home__first {
  height: 100vh;

  .home__first__inner {
    height: 100%;
    background-image: url("../../img/main_first.jpg");
    background-size: 100%;
    background-position-y: 55%;
    animation: zoomIn 10s ease forwards;
    animation-delay: 1s;
  }

  // &.center {
  //   background-position: 51% 55%;
  //   background-size: 200%;
  // }

  // &.right {
  //   background-position: 100% 55%;
  //   background-size: 200%;
  // }

  // &.left {
  //   background-position: 0% 55%;
  //   background-size: 200%;
  // }
}

.home__second {
  height: 100vh;
  overflow: hidden;
  position: relative;

  video {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.home__third {
  background-image: url("../../img/main_third.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.home__last {
  background-image: url("../../img/main_last.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

@keyframes zoomIn {
  0% {
    background-position: 51% 55%;
    background-size: 100%;
  }
  10% {
    background-position: 51% 55%;
    background-size: 200%;
  }
  20% {
    background-position: 51% 55%;
    background-size: 200%;
  }
  40% {
    background-position: 0% 55%;
    background-size: 200%;
  }
  60% {
    background-position: 51% 55%;
    background-size: 200%;
  }
  80% {
    background-position: 100% 55%;
    background-size: 200%;
  }
  100% {
    background-position: 51% 55%;
    background-size: 200%;
  }
}
