.home__first {
  height: 100vh;

  .home__first__inner {
    height: 100%;
    background-image: url("../../img/main_first.jpg");
    background-size: 100%;
    background-position-y: 55%;
    animation: zoomIn 10s ease forwards 1s;
  }

  @media (max-width: 500px) {
    .home__first__inner {
      background-repeat: no-repeat;
      background-size: 300%;
      background-position: 50% 100%;
      animation: zoomInMedia 10s ease forwards 1s;

      .main-header {
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}

.home__second {
  height: 100vh;
  overflow: hidden;
  position: relative;

  video {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  @media (max-width: 500px) {
    .main-header {
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.home__third {
  background-image: url("../../img/main_third.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;

  @media (max-width: 500px) {
    .main-header {
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.home__last {
  background-image: url("../../img/main_last.jpg");
  background-size: cover;
  background-position-y: 90%;
  height: 100vh;
}

@media (max-width: 500px) {
  .home__last {
    background-position-x: 40%;
    background-position-y: 0;
    background-size: 330%;

    .main-header {
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

@keyframes zoomIn {
  0% {
    background-position: 51% 55%;
    background-size: 100%;
  }
  10% {
    background-position: 51% 55%;
    background-size: 200%;
  }
  20% {
    background-position: 51% 55%;
    background-size: 200%;
  }
  40% {
    background-position: 0% 55%;
    background-size: 200%;
  }
  60% {
    background-position: 51% 55%;
    background-size: 200%;
  }
  80% {
    background-position: 100% 55%;
    background-size: 200%;
  }
  100% {
    background-position: 51% 55%;
    background-size: 200%;
  }
}

@keyframes zoomInMedia {
  0% {
    background-size: 300%;
    background-position: 50% 100%;
  }
  10% {
    background-size: 400%;
    background-position: 50% 100%;
  }
  20% {
    background-size: 400%;
    background-position: 50% 100%;
  }
  40% {
    background-position: 12.5% 100%;
    background-size: 400%;
  }
  60% {
    background-position: 50% 100%;
    background-size: 400%;
  }
  80% {
    background-position: 87.5% 100%;
    background-size: 400%;
  }
  100% {
    background-position: 50% 100%;
    background-size: 400%;
  }
}

#fp-nav {
  span {
    background-color: white !important;
  }
}
