.mainRight {
  overflow: auto;
  overflow-x: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 27%;
  right: 1px;
  margin-top: 50px;
  height: 100vh;
}
.mainRightItem {
  position: fixed;
  width: 27%;
  margin-left: 50px;
  margin-top: 60px;
}
.itemTop {
  margin-bottom: 10px;

  p {
    font-size: 19px;
  }
  a {
    margin-bottom: 20px;
  }
}

.mainLeft {
  margin-top: 75px;
  position: fixed;
  display: flex;
  width: 73%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
  border-right: 1px solid #e6e6e6;
}

.carPerformance {
  list-style: none;
  width: 100%;
  position: absolute;
  display: flex;
  bottom: 1px;
  margin-bottom: 17%;
  justify-content: center;
}
