.main_button-container {
  margin-top: 35px;

  .main_button {
    width: 250px;
    height: 40px;
    border-radius: 25px;
    font-size: 12px;
    border-style: none;

    &:hover {
      cursor: pointer;
      transform: translateY(-1px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* x y blur color */
    }

    &:focus {
      outline: 0;
    }

    &:active {
      transform: translateY(0px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
  }
}

#header__orderbtn {
  transform: translateY(-200%);
  // animation: moveButton 10s ease forwards 1s;
}

@keyframes moveButton {
  0% {
    transform: translateY(-200%);
  }
  10% {
    transform: translateY(-200%);
  }
  20% {
    transform: translateY(-200%);
  }
  40% {
    transform: translateY(-100%);
  }
  60% {
    transform: translateY(-200%);
  }
  80% {
    transform: translateY(-400%);
  }
  100% {
    transform: translateY(-200%);
  }
}
