.models__seventh {
  .seventh__inner-sections {
    height: 100%;
    display: flex;
    flex-direction: column;

    .seventh__top {
      height: 100%;
      background-image: url("../../../img/ModelS/models_bg_seventh.jpg");
      background-position-y: 20%;
      background-size: 100%;

      .top__info-outer {
        min-width: 100%;
        margin: 50px 0;
        color: black;
      }

      .top__info {
        margin: auto;
        width: 1024px;
        height: 84px;
        display: flex;
        justify-content: space-around;
        align-items: stretch;

        .box {
          display: flex;
          flex-direction: column;
          width: 33%;
          padding: 0 20px;

          &:nth-child(1),
          &:nth-child(2) {
            border-right: 1px solid black;
          }

          p {
            margin: 0;
          }
        }

        .top {
          height: 34px;

          .top-inner {
            display: flex;
          }

          .txt-big {
            font-size: 28px;
          }

          .txt-small {
            font-size: 14px;
            font-weight: bold;
            display: flex;
            align-items: center;
            margin-left: 5px;
          }
        }

        .bottom {
          font-size: 12px;
          margin-top: 10px;
          color: #5d5e62;
        }
      }
    }

    .seventh__bottom {
      width: 100%;
      height: 220px;

      p {
        margin: 0;
      }

      .bottom__contents {
        width: 1050px;
        height: 100%;
        margin: auto;
        padding: 50px 0;
        display: flex;

        .contents__left {
          width: 40%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .left__top {
            .info__header {
              font-size: 17px;
              font-weight: 300;
            }

            .info__sub-header {
              font-size: 28px;
            }
          }
        }

        .contents__right {
          width: 60%;

          p {
            font-size: 14px;
            font-weight: 300;
          }
        }
      }
    }
  }
}

//       .top__info-outer {
//         color: white;
//         height: 100%;
//         display: flex;
//         justify-content: flex-end;
//       }

//       .top__info {
//         display: flex;
//         flex-direction: column;
//         justify-content: space-around;
//         height: 530px;
//         padding-top: 90px;
//         padding-right: 100px;
//         width: 400px;

//         .box {
//           display: flex;
//           flex-direction: column;
//           justify-content: center;
//           align-content: center;
//           height: 33%;
//           width: 100%;
//           // padding: 0 60px;

//           // &:nth-child(1),
//           // &:nth-child(2) {
//           //   border-bottom: 1px solid black;
//           // }

//           p {
//             margin: 0;
//           }
//         }

//         .divider {
//           width: 60px;
//           border: 0.4px solid white;
//         }

//         .top {
//           display: flex;
//           height: 34px;

//           .txt-big {
//             font-size: 28px;
//             font-weight: bold;
//             margin-right: 5px;
//           }

//           .txt-small {
//             font-size: 24px;
//           }
//         }

//         .bottom {
//           font-size: 12px;
//           margin-top: 10px;
//           font-weight: 300;
//           color: white;
//         }
//       }
//     }
