.shopnav__links {
  text-decoration: none;

  &:visited {
    color: black;
  }

  .navChild {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 225px;
    height: 72px;
    top: 26px;

    &.isActive {
      border-bottom: 4px solid #007fff;
    }

    h2 {
      font-size: 14px;
      font-weight: 500;
    }
  }
}
