.models__fifth {
  .fifth__inner-sections {
    height: 100%;
    display: flex;
    flex-direction: column;

    .fifth__top {
      height: 100%;
      overflow: hidden;
      position: relative;

      video {
        position: absolute;
        min-height: 100%;
        min-width: 100%;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }

      .top__info-outer {
        color: black;
        height: 100%;
        padding-top: 120px;
        padding-left: 120px;
      }

      .top__info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 400px;

        .box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          height: 33%;
          width: 30%;
          padding: 0 20px;

          // &:nth-child(1),
          // &:nth-child(2) {
          //   border-bottom: 1px solid black;
          // }

          p {
            margin: 0;
          }
        }

        .divider {
          margin-left: 20px;
          width: 60px;
          border: 0.4px solid #7f7f7f;
        }

        .top {
          display: flex;
          height: 34px;

          .txt-big {
            font-size: 28px;
            font-weight: bold;
          }

          .txt-small {
            font-size: 24px;
          }
        }

        .bottom {
          font-size: 12px;
          margin-top: 10px;
          color: #808185;
        }
      }
    }

    .fifth__bottom {
      width: 100%;
      height: 220px;

      p {
        margin: 0;
      }

      .bottom__contents {
        width: 1050px;
        height: 100%;
        margin: auto;
        padding: 50px 0;
        display: flex;

        .contents__left {
          width: 40%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .left__top {
            .info__header {
              font-size: 17px;
              font-weight: 300;
            }

            .info__sub-header {
              font-size: 28px;
            }
          }
        }

        .contents__right {
          width: 60%;

          p {
            font-size: 14px;
            font-weight: 300;
          }
        }
      }
    }
  }
}
