.mainChild {
  width: 23%;
  height: 80px;
  text-align: center;
  border-right: 1px solid #e6e6e6;

  p {
    width: 100%;
    margin: 0px;
    font-size: 42px;
    font-weight: 400;
  }
  .plColor2 {
    font-size: 15px;
    color: #666666;
  }
  .plColor1 {
    font-size: 37px;
  }
}
