.spec-list-container {
  width: 100%;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;

  .divider {
    width: 30px;
    border: 0.5px solid white;
    margin-bottom: 8px;
  }

  .spec-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
